@mixin openSans {
	font-family: 'Open Sans', $helvetica;
	font-weight: 400;
}
@mixin openSansLight {
	font-family: 'Open Sans', $helvetica;
	font-weight: 300;
}
@mixin openSansBold {
	font-family: 'Open Sans', $helvetica;
	font-weight: 700;
}