$charcoal: #242728;
$mango: #f25c05;

* {
	font-family: Roboto, Helvetica, sans-serif;
}

::selection {
	background-color: $mango;
	color: #fff;
}

h1, h2 {
	font-family: "Roboto Slab", Georgia, serif;
}

.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.text-left {
	text-align: left !important;
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}