language: node_js
node_js:
  - stable

cache:
  directories:
  - node_modules
script:
  - npm run build

deploy:
  provider: pages
  github_token: $GITHUB_TOKEN
  skip_cleanup: true
  keep_history: true
  local_dir: dist
  on:
    branch: github-pages