
@keyframes up-in {
	from { opacity: 0; bottom: 0%; }
	to { opacity: 1; bottom: 50%; }
}

body,
html {
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.container-header * {
	container: header / normal;
	font-size: max(1.25em, 1em + 1cqw) !important;
	line-height: max(1em, .75em + .2cqw) !important;
	margin-bottom: max(12px, .6cqw) !important;
}

.container-subheader * {
	container: subheader / normal;
	font-size: max(.75em, .25em + 1cqw) !important;
	line-height: max(.75em, .25em + 1cqw) !important;
}

.tile {
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	overflow: hidden;
	cursor: pointer;

	img {
		width: 100%;
	}
}

.box {
	min-width: 100px;
	min-height: 100px;
	container: box / normal;
	h2 {
		font-size: max(1.5em, 1em + 1.5cqw) !important;
		line-height: max(1.5em, .75em + .5cqw) !important;
		margin-bottom: max(16px, 1.5cqw) !important;
	}
	h4 {
		font-size: max(1.25em, 1em + 1cqw) !important;
		line-height: max(1em, .75em + .2cqw) !important;
		margin-bottom: max(12px, .6cqw) !important;
	}
}

.content {
	opacity: 0;
	overflow: scroll;
	transition: opacity 0.5s ease;

	.show & {
		opacity: 1;
	}
}

.fullscreen-background {
	overflow-y: auto;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #333;
	transition: top 0.7s ease;
	background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
